@charset "UTF-8";
body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.agregar {
  position: absolute;
  right: 72px;
  margin-top: 31%;
  padding: 6px 18px;
  background-color: #83004C;
  border-radius: 18px;
  text-decoration: none;
  color: #E4E5E6;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }
  .agregar:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .agregar:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .agregar {
      font-size: 10px;
      padding: 3px 9px;
      right: 36px; } }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-image: url(../img/texturas/concrete-texture.png);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

.diventradas {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0 10%;
  margin: 99px 0 144px 0; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .diventradas {
      margin: 90px 0 0 0;
      padding: 0 5%; } }

.tituloentradas {
  color: #393839;
  margin: 0;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .tituloentradas {
      font-size: 2em; } }

.subtituloentradas {
  color: #5F6062;
  margin: 36px 0 0 0;
  text-align: center;
  font-size: 3.5em; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .subtituloentradas {
      font-size: 1.5em; } }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.agregar {
  position: absolute;
  right: 72px;
  margin-top: 31%;
  padding: 6px 18px;
  background-color: #83004C;
  border-radius: 18px;
  text-decoration: none;
  color: #E4E5E6;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }
  .agregar:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .agregar:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .agregar {
      font-size: 10px;
      padding: 3px 9px;
      right: 36px; } }

.divtop {
  background-color: #ffffff;
  min-width: 100%;
  height: 99px;
  margin-top: 0.01px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  -webkit-box-shadow: 1px 1px 3px #2D2A2B;
  box-shadow: 1px 1px 3px #2D2A2B; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .divtop {
      height: 90px; } }

.addresssuperior {
  background-color: #83004C;
  text-align: right;
  width: 100%;
  margin-top: 0.01px;
  padding-top: 0;
  height: 27px;
  padding-right: 72px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .addresssuperior {
      padding-right: 36px; } }

.addresssuperiora {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  color: #E4E5E6;
  margin-top: 0.01px;
  margin-left: 1%;
  height: 100%; }
  .addresssuperiora:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .addresssuperiora:active {
    background-color: #A39800; }
  @media screen and (min-width: 960px) and (max-width: 7680px) {
    .addresssuperiora {
      padding: 4px 12px; } }
  @media screen and (min-width: 0) and (max-width: 960px) {
    .addresssuperiora {
      padding: 6px 12px 2px 12px; } }

.addresssuperiorap {
  display: inline;
  margin: 0; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .addresssuperiorap {
      display: none; } }

.headerlogotipo {
  height: 72px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .headerlogotipo {
      height: 62px; } }

.headerlogotipoa {
  margin: 0; }

.headerlogotipoah1 {
  margin-top: 1px; }

.headerlogotipoah1em {
  margin-bottom: -18px;
  font-size: 0px; }

.headerlogotipoah1img {
  visibility: visible;
  padding-left: 72px;
  width: 280px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .headerlogotipoah1img {
      padding-left: 36px;
      width: 216px; } }

.divmenu {
  height: 71px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .divmenu {
      padding-left: 36px;
      height: 62px;
      width: 90px; } }

.letramenu {
  display: none;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .letramenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-left: 0;
      font-weight: bold;
      padding-top: 6px;
      padding-right: 36px;
      font-size: 14px;
      color: #83004C; } }

#btn-menu {
  display: none; }

.labelmenu {
  display: none; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .labelmenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #83004C;
      color: #ffffff;
      position: absolute;
      right: 3px;
      width: 36px;
      height: 36px;
      margin-right: 36px;
      font-size: 24px; }
      .labelmenu:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: #5C002F; }
      .labelmenu:active {
        background-color: #A39800; } }

#btn-menu:checked ~ .menunav {
  margin-top: 45px;
  right: 36px; }

.menunav {
  margin-top: 18px;
  padding-right: 72px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .menunav {
      border: solid #83004C 1px;
      background-color: #ffffff;
      width: auto;
      right: -100%;
      margin-top: 45px;
      position: absolute;
      z-index: 200;
      padding: 9px 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 1px 1px 12px #393839;
      box-shadow: 1px 1px 12px #393839;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; } }

.menunavul {
  padding: 0;
  margin: 0;
  width: 583px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .menunavul {
      width: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.navulli {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 6px;
  list-style: none; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .navulli {
      margin-bottom: 0; } }

.ullia {
  text-decoration: none;
  font-size: 14px;
  color: #393839;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .ullia:hover {
    background-color: #83004C;
    color: #ffffff; }
  .ullia:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .ullia {
      display: block;
      margin: 1px 0; } }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.agregar {
  position: absolute;
  right: 72px;
  margin-top: 31%;
  padding: 6px 18px;
  background-color: #83004C;
  border-radius: 18px;
  text-decoration: none;
  color: #E4E5E6;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }
  .agregar:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .agregar:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .agregar {
      font-size: 10px;
      padding: 3px 9px;
      right: 36px; } }

.banner {
  padding: 0;
  margin-bottom: 0; }

.carrusel {
  padding: 0;
  margin: 0; }

.imgcarrusel {
  padding: 0;
  margin: 0;
  width: 100%; }

.divbotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 9px;
  margin-right: auto;
  margin-bottom: 36px;
  margin-left: auto;
  padding: 0;
  width: 360px;
  height: 24px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .divbotones {
      width: 144px; } }

.imgbotoncarrusel {
  margin-top: -36px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 18px;
  font-size: 72px;
  color: #8A8C8E; }
  .imgbotoncarrusel:hover {
    color: #393839;
    cursor: pointer; }
  .imgbotoncarrusel:active {
    color: #393839; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .imgbotoncarrusel {
      margin-top: -27px;
      padding: 0;
      font-size: 45px; } }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.agregar {
  position: absolute;
  right: 72px;
  margin-top: 31%;
  padding: 6px 18px;
  background-color: #83004C;
  border-radius: 18px;
  text-decoration: none;
  color: #E4E5E6;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }
  .agregar:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .agregar:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .agregar {
      font-size: 10px;
      padding: 3px 9px;
      right: 36px; } }

.fondosomos {
  margin-top: 0;
  padding-top: 144px;
  background-image: url(../img/texturas/zigzagwool.png); }

.tituloclaro {
  font-weight: bold;
  margin-bottom: 36px;
  color: #B6B8BA; }

.cajanostros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: #E4E5E6; }

.trescajas {
  width: 33.33333333%;
  margin: 0 auto;
  padding: 0 18px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .trescajas {
      border-bottom: solid #B6B8BA 1px;
      padding: 18px 0;
      width: 94%; } }

.descripcion {
  font-size: 34px;
  text-align: right;
  padding-left: 0;
  color: #E4E5E6; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .descripcion {
      text-align: center;
      font-size: 24px; } }

.descripcion p {
  margin: -9px 0 0 0; }

.historia {
  font-size: 14px;
  color: #B6B8BA; }

.historia p {
  text-align: left;
  margin: 0; }

.fortalezas {
  padding-right: 0; }

.fortalezasul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0; }

.fortalezasulli {
  margin: 0;
  padding: 0;
  height: 108px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .fortalezasulli {
      display: inline-block;
      width: 288px; } }

.circuloporciento {
  border: #83004C solid 7px;
  border-radius: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 36px;
  height: 63px;
  width: 63px;
  float: left; }

.ifortalezas {
  margin-top: 12px; }

.titulofortaleza {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #B6B8BA; }

.contenidofortaleza {
  color: #E4E5E6;
  font-size: 14px;
  margin: 0;
  padding: 0; }

.valoracion {
  background-color: aqua;
  width: 100%;
  height: 335px;
  margin-right: auto;
  margin-left: auto; }

.valoracion iframe {
  width: 100%; }

.textopiniones {
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px; }

.logoempresas {
  background: #E4E5E6;
  height: 288px;
  max-width: 576px;
  width: 100%;
  margin-right: auto;
  margin-bottom: 144px;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #B6B8BA;
  border-bottom: 1px solid #B6B8BA;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: scroll; }

.divlogossocios {
  margin: 0.5rem; }

.imglogossocios {
  width: 144px;
  padding: 0;
  margin: 18px 9px; }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.agregar {
  position: absolute;
  right: 72px;
  margin-top: 31%;
  padding: 6px 18px;
  background-color: #83004C;
  border-radius: 18px;
  text-decoration: none;
  color: #E4E5E6;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }
  .agregar:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .agregar:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .agregar {
      font-size: 10px;
      padding: 3px 9px;
      right: 36px; } }

.articuloservicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 36px;
  width: 100%;
  height: 100%; }

.tituloprincipal {
  margin: 144px 0 0 0; }

.sectionservicio {
  width: 288px;
  padding: 9px;
  margin-bottom: 72px;
  display: block;
  text-align: center;
  margin: 0 auto; }

.iconoservicio {
  width: 144px;
  height: 144px;
  font-size: 72px;
  padding-top: 27px;
  padding-bottom: 27px;
  border: #83004C solid 9px;
  border-radius: 100%; }

.tituloservicio {
  font-size: 22px;
  border-bottom: #83004C solid 2px;
  margin: 0;
  padding: 6px 0 6px 0; }

.contenidoservicio {
  margin: 6px 0 0 0;
  font-size: 16px;
  font-weight: normal; }

.left {
  margin: 0 0 0 36px;
  text-align: left; }

.left::before {
  content: '• '; }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.agregar {
  position: absolute;
  right: 72px;
  margin-top: 31%;
  padding: 6px 18px;
  background-color: #83004C;
  border-radius: 18px;
  text-decoration: none;
  color: #E4E5E6;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; }
  .agregar:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .agregar:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .agregar {
      font-size: 10px;
      padding: 3px 9px;
      right: 36px; } }

.piediv {
  margin-bottom: 0;
  padding: 0; }

.piefooter {
  background-image: url(../img/texturas/zigzagwool.png);
  width: 100%; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .piefooter {
      padding-left: 36px;
      padding-right: 36px; } }

.addresfooter {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .addresfooter {
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.afooter {
  color: #8A8C8E;
  text-decoration: none;
  text-align: center;
  width: 288px;
  font-size: 72px; }
  .afooter:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #E4E5E6; }
  .afooter:active {
    background-color: rgba(255, 255, 0, 0.5);
    color: #E4E5E6; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .afooter {
      height: 120px; } }

.afooterp {
  display: none; }
