@charset "UTF-8";
body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-image: url(../img/texturas/concrete-texture.png);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

.diventradas {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0 10%;
  margin: 99px 0 144px 0; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .diventradas {
      margin: 90px 0 0 0;
      padding: 0 5%; } }

.tituloentradas {
  color: #393839;
  margin: 0;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .tituloentradas {
      font-size: 2em; } }

.subtituloentradas {
  color: #5F6062;
  margin: 36px 0 0 0;
  text-align: center;
  font-size: 3.5em; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .subtituloentradas {
      font-size: 1.5em; } }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.divtop {
  background-color: #ffffff;
  min-width: 100%;
  height: 99px;
  margin-top: 0.01px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  -webkit-box-shadow: 1px 1px 3px #2D2A2B;
  box-shadow: 1px 1px 3px #2D2A2B; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .divtop {
      height: 90px; } }

.addresssuperior {
  background-color: #83004C;
  text-align: right;
  width: 100%;
  margin-top: 0.01px;
  padding-top: 0;
  height: 27px;
  padding-right: 72px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .addresssuperior {
      padding-right: 36px; } }

.addresssuperiora {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  color: #E4E5E6;
  margin-top: 0.01px;
  margin-left: 1%;
  height: 100%; }
  .addresssuperiora:hover {
    background-color: #5C002F;
    color: #ffffff; }
  .addresssuperiora:active {
    background-color: #A39800; }
  @media screen and (min-width: 960px) and (max-width: 7680px) {
    .addresssuperiora {
      padding: 4px 12px; } }
  @media screen and (min-width: 0) and (max-width: 960px) {
    .addresssuperiora {
      padding: 6px 12px 2px 12px; } }

.addresssuperiorap {
  display: inline;
  margin: 0; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .addresssuperiorap {
      display: none; } }

.headerlogotipo {
  height: 72px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .headerlogotipo {
      height: 62px; } }

.headerlogotipoa {
  margin: 0; }

.headerlogotipoah1 {
  margin-top: 1px; }

.headerlogotipoah1em {
  margin-bottom: -18px;
  font-size: 0px; }

.headerlogotipoah1img {
  visibility: visible;
  padding-left: 72px;
  width: 280px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .headerlogotipoah1img {
      padding-left: 36px;
      width: 216px; } }

.divmenu {
  height: 71px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .divmenu {
      padding-left: 36px;
      height: 62px;
      width: 90px; } }

.letramenu {
  display: none;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .letramenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-left: 0;
      font-weight: bold;
      padding-top: 6px;
      padding-right: 36px;
      font-size: 14px;
      color: #83004C; } }

#btn-menu {
  display: none; }

.labelmenu {
  display: none; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .labelmenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #83004C;
      color: #ffffff;
      position: absolute;
      right: 3px;
      width: 36px;
      height: 36px;
      margin-right: 36px;
      font-size: 24px; }
      .labelmenu:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: #5C002F; }
      .labelmenu:active {
        background-color: #A39800; } }

#btn-menu:checked ~ .menunav {
  margin-top: 45px;
  right: 36px; }

.menunav {
  margin-top: 18px;
  padding-right: 72px; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .menunav {
      border: solid #83004C 1px;
      background-color: #ffffff;
      width: auto;
      right: -100%;
      margin-top: 45px;
      position: absolute;
      z-index: 200;
      padding: 9px 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 1px 1px 12px #393839;
      box-shadow: 1px 1px 12px #393839;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; } }

.menunavul {
  padding: 0;
  margin: 0;
  width: 583px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .menunavul {
      width: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.navulli {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 6px;
  list-style: none; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .navulli {
      margin-bottom: 0; } }

.ullia {
  text-decoration: none;
  font-size: 14px;
  color: #393839;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .ullia:hover {
    background-color: #83004C;
    color: #ffffff; }
  .ullia:active {
    background-color: #A39800; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .ullia {
      display: block;
      margin: 1px 0; } }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.divservycar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }

/* PLANES Y SERVICIOS */
.sectservicio {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 288px;
  cursor: pointer;
  background-color: #f9f9f9; }

.tituloarmatuplan {
  font-weight: 800;
  text-align: center; }

.sectservicio:hover {
  cursor: text; }

.tituloservicio {
  font-size: 18px;
  background-color: #393839;
  text-align: center;
  width: 100%;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 0;
  margin-bottom: 0; }

.parrservicio {
  font-style: oblique;
  margin: 3px 6px; }

.btnagragar {
  cursor: pointer;
  background-color: #83004C;
  color: white;
  font-size: 14px;
  border-color: #83004C;
  border-radius: 0 9px;
  padding: 7px 12px;
  display: block;
  margin: 0 auto 9px auto;
  font-weight: 800; }

.btnagragar:hover {
  background-color: #51002f; }

.artservicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media screen and (min-width: 1525px) and (max-width: 3840px) {
  .artservicio {
    width: 1080px; } }

@media screen and (min-width: 1000px) and (max-width: 1525px) {
  .artservicio {
    width: 600px; } }

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .artservicio {
    width: 288px;
    display: inline; } }

/* CARRITO */
.divcar {
  width: 288px;
  top: 108px;
  right: 136px;
  font-size: 13px;
  background-color: white;
  border: 3px solid #83004C;
  border-radius: 0 18px;
  position: fixed; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .divcar {
      top: 99px;
      right: 45px; } }

.titulocar {
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
  padding: 7px 0;
  background-color: #83004C;
  border-radius: 0 12px 0 0;
  color: white; }

.ulcardatos {
  background-color: #393839;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 3px 9px;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.licardatos {
  list-style: none; }

/* Este UL ahora tiene el ID "itemsCarrito" */
.ulcaritems {
  height: 144px;
  overflow: scroll;
  padding-left: 3px;
  padding-right: 3px;
  text-align: left; }

.textoredess {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 16px; }

.mensaje-alerta {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; }

/* Nuevo estilo para el botón X de eliminar */
.licaritem {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Añadido para habilitar flexbox para el espaciado */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* Alinea los ítems verticalmente */ }

.licaritem .btn-eliminar-item {
  background-color: #83004C;
  /* Morado de PubliZoom */
  color: white;
  border: 1px solid #83004C;
  /* Borde del mismo color */
  cursor: pointer;
  margin-right: 5px;
  /* Margen para separar de la cantidad */
  padding: 1px 4px;
  /* Ajusta el padding para el tamaño de la X */
  font-weight: 800;
  font-size: 10px;
  /* Tamaño del botón X vuelto a como estaba en tu código original */
  border-radius: 3px;
  /* Bordes ligeramente redondeados */ }

.licaritem .btn-eliminar-item:hover {
  background-color: #51002f;
  /* Un morado más oscuro al pasar el mouse */ }

.licaritem input[type="number"] {
  /* Estilo para el input de cantidad */
  width: 36px;
  margin-right: 20px;
  /* Separación de la descripción */ }

/* INCLUIR REDES CARRITO */
.ulredess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 24px; }

.liredess {
  list-style: none; }

.contenedorprecios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.precios {
  text-align: right;
  width: 50%;
  margin: 0;
  padding: 0;
  font-weight: 400; }

.costoscarrito {
  margin: 0;
  padding: 3px 9px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  background-color: #FFFABC; }

.totalapagar {
  font-weight: bolder;
  text-align: center;
  width: 282px;
  background-color: #FFF200; }

.preciototal-car {
  margin-left: auto;
  /* Esto empuja el elemento a la derecha dentro de un contenedor flex */
  text-align: right; }

.limimppago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-top: #E4E5E6 solid 0.5px;
  border-bottom: #E4E5E6 solid 0.5px;
  margin-bottom: 9px;
  padding: 0 9px;
  font-size: 14px; }

.vaciar-carrito {
  font-weight: bold;
  font-style: italic;
  text-align: right;
  padding: 0 0 3px 3px;
  text-decoration: underline;
  background-color: white;
  color: #83004C;
  border: none;
  cursor: pointer; }

.btn-imprimir {
  color: #5C002F;
  font-size: 18px; }
  .btn-imprimir:hover {
    cursor: pointer; }

.gestpago {
  background-color: #82D3F6;
  color: black;
  margin: 3px 0;
  padding: 6px 15px;
  border-radius: 0 9px;
  text-decoration: none;
  font-weight: 900; }
  .gestpago:hover {
    background-color: #0079C1;
    color: white; }

.gestpago.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7; }

.lipadre {
  margin: 0;
  padding: 0; }

.ultienda {
  margin-top: 9px;
  position: absolute;
  right: 0;
  padding: 0; }

.litienda {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 1px 12px #393839;
  box-shadow: 1px 1px 12px #393839;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.atienda {
  text-align: center;
  display: block;
  padding: 6px 15px; }
  .atienda:hover {
    background-color: #83004C;
    color: #ffffff; }
  .atienda:active {
    background-color: #83004C;
    color: #ffffff; }

body {
  color: #393839;
  font-size: 16px; }

body, .divmenu {
  padding: 0;
  margin: 0; }

.piefooter {
  padding-left: 72px;
  padding-right: 72px; }

.piediv {
  margin-bottom: 0;
  padding: 0; }

.piefooter {
  background-image: url(../img/texturas/zigzagwool.png);
  width: 100%; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .piefooter {
      padding-left: 36px;
      padding-right: 36px; } }

.addresfooter {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .addresfooter {
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.afooter {
  color: #8A8C8E;
  text-decoration: none;
  text-align: center;
  width: 288px;
  font-size: 72px; }
  .afooter:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #E4E5E6; }
  .afooter:active {
    background-color: rgba(255, 255, 0, 0.5);
    color: #E4E5E6; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .afooter {
      height: 120px; } }

.afooterp {
  display: none; }
