@charset "UTF-8";
.divservycar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }

/* PLANES Y SERVICIOS */
.tituloarmatuplan {
  font-weight: 800;
  text-align: center; }

.artservicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 1525px) and (max-width: 3840px) {
    .artservicio {
      width: 1080px; } }
  @media screen and (min-width: 1000px) and (max-width: 1525px) {
    .artservicio {
      width: 600px; } }
  @media screen and (min-width: 0px) and (max-width: 1000px) {
    .artservicio {
      width: 288px;
      display: inline; } }

.sectservicio {
  border: 1px solid #B6B8BA;
  margin-bottom: 10px;
  width: 288px;
  cursor: pointer;
  background-color: white; }

.sectservicio:hover {
  cursor: text; }

.tituloservicio {
  font-size: 18px;
  background-color: #393839;
  text-align: center;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 0;
  margin-bottom: 0; }

.parrservicio {
  font-style: oblique;
  margin: 3px 6px; }

.precioservicio {
  margin: 9px 0 9px 9px; }

.btnagragar {
  cursor: pointer;
  background-color: #83004C;
  color: white;
  font-size: 14px;
  border: 0px;
  border-radius: 0 9px;
  padding: 7px 12px;
  display: block;
  margin: 0 auto 9px auto;
  font-weight: bold; }
  .btnagragar:hover {
    background-color: #5C002F; }

/* CARRITO */
.divcar {
  position: fixed;
  font-size: 13px; }
  @media screen and (min-width: 1000px) and (max-width: 3840px) {
    .divcar {
      top: 108px;
      right: 136px; } }
  @media screen and (min-width: 0px) and (max-width: 1000px) {
    .divcar {
      bottom: 18px;
      right: 36px; } }

.inputcabezacar {
  display: none; }

.labelcabezacar {
  width: 288px;
  background-color: #83004C;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 900;
  padding: 9px 0 3px 0;
  border-radius: 0 12px 0 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media screen and (min-width: 0px) and (max-width: 1000px) {
    .labelcabezacar {
      right: 18px; }
      .labelcabezacar:hover {
        cursor: pointer;
        background-color: #5C002F; } }

@media screen and (min-width: 1000px) and (max-width: 3840px) {
  .noverpc {
    display: none; } }

.iconocar, .titulocar, .cantidarticulos {
  margin: 0;
  padding: 0; }

#showCarBTN:checked ~ .interiorcar {
  display: block; }

.interiorcar {
  width: 288px;
  background-color: white;
  border: 3px solid #83004C;
  border-radius: 0 0 0 18px; }
  @media screen and (min-width: 0px) and (max-width: 1000px) {
    .interiorcar {
      display: none; } }

.ulcardatos {
  background-color: #393839;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 3px 9px;
  font-weight: bold;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.licardatos {
  list-style: none; }

.ulcaritems {
  height: 144px;
  overflow: scroll;
  margin: 3px 0 0 0;
  padding-left: 3px;
  padding-right: 3px;
  text-align: left; }

.textoredess {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 16px; }

.mensaje-alerta {
  background-color: red;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 3px 0;
  margin-top: 0;
  margin-bottom: 3px; }

/* Nuevo estilo para el botón X de eliminar */
.licaritem {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Añadido para habilitar flexbox para el espaciado */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* Alinea los ítems verticalmente */ }

.licaritem .btn-eliminar-item {
  background-color: #83004C;
  /* Morado de PubliZoom */
  color: white;
  border: 0px;
  /* Borde del mismo color */
  cursor: pointer;
  margin-right: 5px;
  /* Margen para separar de la cantidad */
  padding: 1px 4px;
  /* Ajusta el padding para el tamaño de la X */
  font-weight: 800;
  font-size: 10px;
  /* Tamaño del botón X vuelto a como estaba en tu código original */
  border-radius: 3px;
  /* Bordes ligeramente redondeados */ }

.licaritem .btn-eliminar-item:hover {
  background-color: #51002f;
  /* Un morado más oscuro al pasar el mouse */ }

.licaritem input[type="number"] {
  /* Estilo para el input de cantidad */
  width: 36px;
  margin-right: 20px;
  /* Separación de la descripción */ }

/* INCLUIR REDES CARRITO */
.ulredess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 24px; }

.liredess {
  list-style: none; }

.contenedorprecios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.precios {
  text-align: center;
  width: 50%;
  margin: 0;
  padding: 0;
  font-weight: 400; }

.costoscarrito {
  margin: 0;
  padding: 3px 9px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  background-color: #FFFABC; }

.totalapagar {
  font-weight: bolder;
  text-align: center;
  width: 282px;
  background-color: #FFF200; }

.preciototal-car {
  margin-left: auto;
  /* Esto empuja el elemento a la derecha dentro de un contenedor flex */
  text-align: right; }

.limimppago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-top: #E4E5E6 solid 0.5px;
  border-bottom: #E4E5E6 solid 0.5px;
  margin-bottom: 9px;
  padding: 0 9px;
  font-size: 14px; }

.vaciar-carrito {
  font-weight: bold;
  font-style: italic;
  text-align: right;
  padding: 0 0 3px 3px;
  text-decoration: underline;
  background-color: white;
  color: #83004C;
  border: none;
  cursor: pointer; }

.btn-imprimir {
  color: #5C002F;
  font-size: 18px; }
  .btn-imprimir:hover {
    cursor: pointer; }

.gestpago {
  background-color: #82D3F6;
  color: black;
  margin: 3px 0;
  padding: 6px 15px;
  border-radius: 0 9px;
  text-decoration: none;
  font-weight: 900; }
  .gestpago:hover {
    background-color: #0079C1;
    color: white; }

.gestpago.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7; }

/* --- INICIO DE CAMBIOS PARA LAS FLECHAS --- */
/* Ocultar las flechas por defecto en móvil */
@media screen and (min-width: 0px) and (max-width: 1000px) {
  #mostrarCar,
  #ocultarCar {
    display: none; } }

/* Mostrar la flecha hacia arriba cuando el carrito está cerrado en móvil */
@media screen and (min-width: 0px) and (max-width: 1000px) {
  #showCarBTN:not(:checked) ~ .labelcabezacar #mostrarCar {
    display: block; } }

/* Mostrar la flecha hacia abajo cuando el carrito está abierto en móvil */
@media screen and (min-width: 0px) and (max-width: 1000px) {
  #showCarBTN:checked ~ .labelcabezacar #ocultarCar {
    display: block; } }

/* --- FIN DE CAMBIOS PARA LAS FLECHAS --- */
