@import "componentes/variables";
// DESKTOP
// @media screen and (min-width: 960)	{ }

// MOVIL
// @media screen and (min-width:0px) and (max-width:959px) { }

// BANNER PRINCIPAL
.banner
	{	padding: 0;
		margin-bottom: 0; }
.carrusel
	{ 	padding: 0;
		margin: 0; }
.agregar
	{	@extend %agregar; }
.imgcarrusel
	{ 	padding: 0;
		margin: 0;
		width: 100%; }
.divbotones
	{	display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 9px;
		margin-right: auto;
		margin-bottom: 36px;
		margin-left: auto;
		padding: 0;
		width: 360px;
		height: 24px;
		@media screen and (min-width:0px) and (max-width:959px) {
		width: 144px; } }
.imgbotoncarrusel
	{	margin-top: -36px;
		margin-right: auto;
		margin-left: auto;
		padding: 0 18px;
		font-size: 72px;
		color: map-get($colores,negro55k);
		&:hover {
			color: map-get($colores,negro93k);
			cursor: pointer; }
		&:active {
			color: map-get($colores,negro93k); }
		@media screen and (min-width:0px) and (max-width:959px) {
			margin-top: -27px;
			padding: 0;
			font-size: 45px; } }