@import "componentes/variables";
// QUIENES SOMOS
.fondosomos
	{	margin-top: 0;
		padding-top: 144px;
		background-image: url(../img/texturas/zigzagwool.png); }
.tituloclaro
	{	font-weight: bold;
		margin-bottom: 36px;
		color: map-get($colores,negro33k); }
.cajanostros
	{	display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		color: map-get($colores,negro11k); }
.trescajas 
	{	width: 33.33333333%;
		margin: 0 auto;
		padding: 0 18px;
		@media screen and (min-width:0px) and (max-width:959px) {
			border-bottom: solid map-get($colores,negro33k) 1px;
			padding: 18px 0;
			width: 94%; } }
.descripcion
	{	font-size: 34px;
		text-align: right;
		padding-left: 0;
		color: map-get($colores,negro11k);
		@media screen and (min-width:0px) and (max-width:959px) {
			text-align: center;
			font-size: 24px; } }
.descripcion p
	{	margin: -9px 0 0 0; }
.historia
	{	font-size: 14px;
		color: map-get($colores,negro33k); }
.historia p
	{	text-align: left;
		margin: 0; }
.fortalezas
	{	padding-right: 0; }
.fortalezasul
	{	list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0;
		padding: 0; }
.fortalezasulli
	{	margin: 0;
		padding: 0;
		height: 108px;
		@media screen and (min-width:0px) and (max-width:959px) {
			display: inline-block;
			width: 288px; } }
.circuloporciento
	{	border: map-get($colores,verde100c100y22k) solid 7px;
		border-radius: 100%;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin-right: 6px;
		margin-bottom: 36px;
		height: 63px;
		width: 63px;
		float: left; }
.ifortalezas
	{	margin-top: 12px; }
.titulofortaleza
	{	font-weight: bold;
		font-size: 20px;
		margin: 0;
		padding: 0;
		color: map-get($colores,negro33k); }
.contenidofortaleza
	{	color: map-get($colores,negro11k);
		font-size: 14px;
		margin: 0;
		padding: 0; }
.valoracion
	{	background-color: aqua;
		width: 100%;
		height: 335px;
		margin-right: auto;
		margin-left: auto; }
.valoracion iframe
	{	width: 100%; }

// CLIENTES Y SOCIOS
.textopiniones
	{	margin-top: 72px;
		margin-right: auto;
		margin-left: auto;
		font-size: 22px; }
.logoempresas
	{	background: map-get($colores,negro11k);
		height: 288px;
		max-width: 576px;
		width: 100%;
		margin-right: auto;
		margin-bottom: 144px;
		margin-left: auto;
		padding-top: 5px;
		padding-bottom: 5px;
		box-sizing: border-box;
		border-top: 1px solid #B6B8BA;
		border-bottom: 1px solid #B6B8BA;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		overflow: scroll; }
.divlogotiposclientes
	{	margin: 0.5rem; }
.imglogotipoclientes
	{	width: 144px;
		padding: 0;
		margin: 18px 9px; }