@import "variables";
// FRANJA BLANCA
.divtop
	{	background-color: #ffffff;
		min-width: 100%;
		height: 99px;
		margin-top: 0.01px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		z-index: 100;
		position: fixed;
		box-shadow: 1px 1px 3px map-get($colores,negro97k);
		@media screen and (min-width:0px) and (max-width:959px) {
			height: 90px; } }

// TELEFONO - CORREO - REDES - LOGIN
.addresssuperior
	{	background-color: map-get($colores,verde100c100y22k);
		text-align: right;
		width: 100%;
		margin-top: 0.01px;
		padding-top: 0.5px;
		box-sizing: border-box;
		height: 27px;
		padding-right: map-get($padding,ritghgrande);
		@media screen and (min-width:0px) and (max-width:959px) {
			padding-right: map-get($padding,ritghpequeno); } }
.addresssuperiora
	{	text-decoration: none;
		display: inline-block;
		font-size: 13px;
		color: map-get($colores,negro11k);
		margin-top: 0.01px;
		margin-left: 1%;
		height: 100%;
		&:hover {
			background-color: map-get($colores,verde100c100y44k);
			color: #ffffff; }
		&:active {
			background-color: map-get($colores,amarillo100a44k); }
			@media screen and (min-width:960px) and (max-width:7680px) {
				padding: 4px 12px; }
			@media screen and (min-width:0) and (max-width:960px) {
				padding: 6px 12px 2px 12px; } }
.addresssuperiorap
	{	display: inline;
		margin: 0;
		@media screen and (min-width:0px) and (max-width:959px) {
			display: none; } }

// TEXTO E IMAGEN LOGOTIPO Y ESLOGAN
.headerlogotipo
	{	height: 72px;
		@media screen and (min-width:0px) and (max-width:959px) {
			height: 62px; } }
.headerlogotipoa
	{	margin: 0; }
.headerlogotipoah1
	{	margin-top: 1px; }
.headerlogotipoah1em
	{	margin-bottom: -18px;
		font-size: 0px; }
.headerlogotipoah1img
	{	visibility: visible;
		padding-left: map-get($padding,leftgrande);
		width: 280px;
		@media screen and (min-width:0px) and (max-width:959px) {
			padding-left: map-get($padding,leftpequeno);
			width: 216px; } }

// BOTONES DE NEVEGACION
.divmenu
	{	@extend %marginypaddign0;
		height: 71px;
		@media screen and (min-width:0px) and (max-width:959px) {
			padding-left: map-get($padding,leftpequeno);
			height: 62px;
			width: 90px; } }
.letramenu
	{	display: none;
		margin-top: 1px;
		margin-bottom: 1px;
		padding-top: 0;
		padding-bottom: 0;
		@media screen and (min-width:0px) and (max-width:959px) {
			display: flex;
			justify-content: flex-end;
			margin-left: 0;
			font-weight: bold;
			padding-top: 6px;
			padding-right: map-get($padding,ritghpequeno);
			font-size: 14px;
			color: map-get($colores,verde100c100y22k); } }
#btn-menu
	{	display: none; }
.labelmenu
	{	display: none;
		@media screen and (min-width:0px) and (max-width:959px) {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: map-get($colores,verde100c100y22k);
			color: #ffffff;
			position: absolute;
			right: 3px;
			width: 36px;
			height: 36px;
			margin-right: map-get($padding,ritghpequeno);
			font-size: 24px;
			&:hover {
				cursor: pointer;
				color: #ffffff;
				background-color: map-get($colores,verde100c100y44k); }
			&:active {
				background-color: map-get($colores,amarillo100a44k); } } }
#btn-menu:checked ~ .menunav
	{	margin-top: 45px;
		right: map-get($padding,ritghpequeno); }
.menunav
	{	margin-top: 18px;
		padding-right: map-get($padding,ritghgrande);
		@media screen and (min-width:0px) and (max-width:959px) {
			border: solid map-get($colores,verde100c100y22k) 1px;
			background-color: #ffffff;
			width: auto;
			right: -100%;
			margin-top: 45px;
			position: absolute;
			z-index: 200;
			padding: 9px 0;
			box-sizing: border-box;
			box-shadow: 1px 1px 12px map-get($colores,negro93k);
			transition: all 0.3s; } }
.menunavul
	{	padding: 0;
		margin: 27px 0 0 0;
		width: 583px;
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width:0px) and (max-width:959px) {
			width: auto;
			flex-direction: column; } }
.navulli
	{	text-align: right;
		flex-grow: 1;
		margin-bottom: 6px;
		list-style: none;
		@media screen and (min-width:0px) and (max-width:959px) {
			margin-bottom: 0; } }
.ullia
	{	text-decoration: none;
		font-size: 14px;
		color: map-get($colores,negro93k);
		padding: 6px 14px;
		box-sizing: border-box;
		&:hover {
			background-color: map-get($colores,verde100c100y22k);
			color: #ffffff; }
		&:active {	background-color: map-get($colores,amarillo100a44k); }
		@media screen and (min-width:0px) and (max-width:959px) {
			display: block;
			margin: 1px 0; } }